html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #DDE8B9
    margin-bottom: 100px;
}

.mainContainer {
    width: 100%;
    display: flex;
    height: 659px;
}

.popupContainer {
    width: 18%;
    min-width: 200px;
    color: lavender;
}
.controlsContainer {
    width: 15%;
    min-width: 200px;
}

.farmContainer, .animalContainer {
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 310px;
    border: solid 0.1px black;
}

.farmContainer {
    background-color: #D7B29D;
}

.animalContainer {
    background-color: #CB8589;
}

.animalsContainer {
    width: 50%;
}

.animalCardContainer{
    width: 28%;
    margin-left: 5%;
    height: 300px;
    background-color: #E8D2AE;
    margin-top: 10px;
    display: inline-flex;
    min-width: 180px;
    border: solid 0.1px black;
}

.nombreAnimal {
    color: #796465;
    font-family: verdana;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 10px;
    height: 20px;
    text-align: center;
}
